.container {
    width: 100px;
    padding: 3px;
    background-color: rgb(235, 235, 235);
}

.item {
    margin: 5px;
}

.item:hover {
    /* margin: 0 5px; */
    /* background-color: rgb(209, 209, 209); */
    font-weight: bold;
}
